.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  width: 400px;
  height: 400px;
}
.button1 {
  padding: 0;
  border: none;
  background: none;
}
.header {
  margin-top: 10%;
  padding: 0px;
  text-align: center;
  background-color: whitesmoke;
  color: whitesmoke;
  font-size: 10px;
}
body {
  background-color: whitesmoke;
}
a {
  color: black;
  font-style: normal;
}
